* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, 
.main {
  min-height: 100vh;
}

.main {
  background-color: #101010;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.main img {
  width: 100px;
  height: 300px;
  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.4s ease;
  opacity: 0.7;
  filter: grayscale(100%);
}

.main img.active {
  width: 400px;
  opacity: 1;
  filter: grayscale(0);
  margin-left: 0;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
  .main img {
    width: 90%;
    height: 200px;
  }
}


