@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');

:root {
  font-family: "Momo Signature", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #202020;
  color: #ffd;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  padding: 1rem;
  gap: .5rem;
  border-radius: 50%;
  width: 300px;
  height: 300px;

  h1 {
    font-size: 5rem;
  }
}

.buttons {

  display: flex;
  align-items: center;
  gap: 1rem;

  button {
    padding: .8rem;
    font-size: 1rem;
    border: none;
    background-color: #181818;
    border-radius: 50%;
    display: grid;
    place-content: center;
    color: #ffd;
    cursor: pointer;
    transition: all ease .3s;
  }

}

button:hover {
  background-color: #101010;
}


