@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&family=Stack+Sans+Text:wght@200..700&display=swap');

:root {

  --heading-font: "Stack Sans Notch", sans-serif;
  --text-font: "Stack Sans Text", sans-serif;

  --biggest-space: 2rem;
  --normal-space: 1rem;
  --smallest-space: .8rem;

  --transition: all ease .3s;

  --color1: #010a14;
  --color2: #fff;
  --color3: #2791bb;

  --border: 3px outset #bbb5b5;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color1);
  color: var(--color2);
  font-family: var(--text-font);
}

main {
  max-width: 45rem;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--normal-space);
  padding: var(--normal-space);

  h1 {
    font-family: var(--heading-font);
    font-size: 4rem;
    text-align: center;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--normal-space);

  .inputs-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--normal-space);
    flex-wrap: wrap;

    input {
      width: 300px;
    }
  }

  label {
    font-size: 1.2rem;
  }

  input {
    display: block;
    padding: var(--normal-space);
    font-family: var(--text-font);
    font-size: var(--normal-space);
    transition: var(--transition);
    background-color: transparent;
    border: var(--border);
    border-radius: var(--smallest-space);
    outline: none;
    color: var(--color2);
  }

}

input:focus {
  border-color: var(--color3);
}
