:root {
  font-family: "TikTok Sans", sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, main {
  min-height: 100vh;
}

body {
  background-color: #f9fdff;
}

main {
  min-height: 100vh;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
}

header {
  text-align: center;
  color: #0d2238;


  h1 {
    font-size: 3rem;
  }
}

section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;

  .color {
    text-align: center;
    border-radius: 1rem;
    height: 200px;
    padding: 1rem;
  }

  .color p {
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #eff1f2;
    border-radius: 1rem;
  }
}

.btn-generator {
  display: block;
  width: 250px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  letter-spacing: .1rem;
  border: none;
  background-color: #0d2238;
  color: #eff1f2;
}

.btn-generator:hover {
  background-color: #123353;
}