@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --font: "Poppins", sans-serif;

  --color1: #ededed;
  --color2: #fff;
  --color3: #1b90f1;
  --color4: #15609d;
  --color5: #e22920;
  --color6: #f86226;

  --regular-spacing: 1rem;
  --transition: all ease .3s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background-color: var(--color1);
}

main {
  max-width: 700px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--regular-spacing);
}

form {
  padding: 2rem;
  background-color: var(--color2);
  border-radius: var(--regular-spacing);
  display: flex;
  flex-direction: column;
  gap: var(--regular-spacing);

  h1 {
    font-size: 3rem;
    text-align: center;
  }

  input {
    display: block;
    width: 100%;
    padding: .5rem;
    font-size: var(--regular-spacing);
    outline: none;
    transition: var(--transition);
    border: 2px solid #bebebe;
  }

  input:focus {
    border-color: var(--color4);
  }

}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--regular-spacing);
  margin-top: var(--regular-spacing);

  button {
    padding: .5rem;
    font-size: var(--regular-spacing);
    cursor: pointer;
    width: 100%;
    border: none;
    color: var(--color1);
    transition: var(--transition);
  }

  button:first-child {
    background-color: var(--color3);
  }

  button:first-child:hover {
    background-color: var(--color4);
  }

  button:last-child {
    background-color: var(--color5);
  }

  button:last-child:hover {
    background-color: var(--color6);
  }
}